.todo-list-item {
    width: 100%;
    cursor: pointer;
}

.btn-remove {
    width: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid black;
    float: right;
    margin: 0 2px;
    color: darkgreen;
}

.btn-important {
    width: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid black;
    float: right;
    margin: 0 2px;
    color: red;
}
.done {
    color: rgb(161, 159, 159);
    text-decoration: line-through;
}
.important {
    font-weight: bold;
}
