.app-header {
    margin: 10px;
    text-align: center;
    font-size: 26px;
    color: #333;
}
.app-subheader {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(117, 112, 112);
}
.app-header-wrapper {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0 auto;
    height: 100px;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}